html, body {
  align-items: center;
  background: #f2f4f8;
  font-family: Calibri;
}

h1, th {
	font-size: 20px;
}

.header {
	padding: 1px;
	text-align: center;
}

.master {
  width: 850px;
  text-align: center;
  border: 1px solid black;
  background: white;
  margin-left: 35%;
  padding: 15px;
}

form {
	width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

input {
	width: 95%;
	text-align: center;
}

.aircraft, .airports, .hobbs, .fob, .time, .date {
  display: inline-block;
  float: center;
  text-align: left;
  padding: 3px;
  width: 200px;
  margin: 0 auto;
}

.output {
  margin: auto;
  width: auto;
  padding: 10px;
}

table, th, td {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  background: white;
}

table {
	border: 1px solid black;
}

.myButtonBlue {
	border: 1px solid #124d77;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 6px 24px;
	height: 40px;
	font-family: Calibri;
	font-size: 16px;
	width: 125px;
}

.myButtonRed {
	border: 1px solid #942911;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 6px 24px;
	height: 40px;
	font-family: Calibri;
	font-size: 16px;
	width: 125px;
}