html, body {
  align-items: center;
  background: #f2f4f8;
  font-family: Helvetica, Arial, sans-serif;
}

.master {
  width: 70%; 
  margin: auto;
  padding: 1%;
}

.airports, .hobbs, .fob, .time {
  float: left;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1%;
  position: relative;
  overflow: hidden;
  width: 180px;
  margin: auto;
}

.clear {
	clear: both;
}

.output {
  margin: auto;
  width: auto;
  padding: 10px;
}

table, th, td {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

tr:hover {
	background-color: #DCDCDC;
}