body {
  align-items: center;
  background: #f2f4f8;
  font-family: Calibri;
}

h1, th {
	font-size: 18px;
}

.header {
	padding: 1px;
	text-align: center;
}

/* This is the main form Class */
.master {
  text-align: center;
  border: 1px solid black;
  background: white;
  margin-right: 20%;
  margin-left: 20%;
  padding: 1%;
}

input {
	width: 95%;
	text-align: center;
	font-family: Calibri;
	font-size: 16px;
}

.aircraft, .airports, .hobbs, .fob, .time, .date {
  display: inline-block;
  text-align: left;
  padding: 3px;
  width: 200px;
}

.output {
  margin: auto;
  width: auto;
}

/* Table with results of inputs */
table, th, td {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  background: white;
  flex-wrap: wrap;
}

/* Buttons Submit, Delete and Restore */
.myButtonSubmit, .myButtonDelete, .myButtonRestore {
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	padding: 6px 24px;
	height: 40px;
	width: 125px;
}

.container { 
  height: 100px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}